In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
     |████████████████████████████████| 904 kB 1.5 MB/s eta 0:00:01
Collecting urllib3
  Downloading urllib3-1.25.10-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 4.4 MB/s eta 0:00:01
Installing collected packages: urllib3, selenium
Successfully installed selenium-3.141.0 urllib3-1.25.10

In [2]:
!pip install BeautifulSoup4

Collecting BeautifulSoup4
  Downloading beautifulsoup4-4.9.3-py3-none-any.whl (115 kB)
     |████████████████████████████████| 115 kB 916 kB/s eta 0:00:01
Collecting soupsieve>1.2; python_version >= "3.0"
  Downloading soupsieve-2.0.1-py3-none-any.whl (32 kB)
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.9.3 soupsieve-2.0.1

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs
import pandas as pd

In [11]:
driver = webdriver.Firefox()

In [31]:
products = [] # list to store product names
prices = [] # list to store prices of products
ratings = [] # list to store ratings of products

In [32]:
# url to be scraped
driver.get("https://www.flipkart.com/laptops/~buyback-guarantee-on-laptops-/pr?sid=6bo%2Cb5g&amp;amp;amp;amp;amp;amp;amp;amp;amp;uniq")

In [33]:
content = driver.page_source # get page source of the target url
soup = bs(content) # get the content
# getting laptop attributes
for a in soup.findAll('a',href=True, attrs={'class':'_31qSD5'}): 
    name=a.find('div', attrs={'class':'_3wU53n'})
    price=a.find('div', attrs={'class':'_1vC4OE'})
    rating=a.find('div', attrs={'class':'hGSR34'})
    products.append(name.text)
    prices.append(price.text)
    ratings.append(rating.text)

In [34]:
df = pd.DataFrame({'Product Name':products,'Price':prices,'Rating':ratings})
df

                                        Product Name    Price Rating
0  Apple MacBook Air Core i5 5th Gen - (8 GB/128 ...  ₹73,490    4.7

In [35]:
df.head()

                                        Product Name    Price Rating
0  Apple MacBook Air Core i5 5th Gen - (8 GB/128 ...  ₹73,490    4.7

In [36]:
df.tail()

                                        Product Name    Price Rating
0  Apple MacBook Air Core i5 5th Gen - (8 GB/128 ...  ₹73,490    4.7